<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Cards Scanner</string>
    
    <key>POKEMON_TCG_API_KEY</key>
    <string>70175cc6-fd47-4648-8143-ac5a4438895e</string>
    
    <key>NSCameraUsageDescription</key>
    <string>We need camera access to scan Pokemon cards</string>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need photo library access to import Pokemon card images</string>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>api.pokemontcg.io</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
                <false/>
                <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                <true/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
